<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!-- Guide to JDBC Driver URL's - MySQL, PostgreSQL, SQL Server, etc https://www.petefreitag.com/articles/jdbc_urls/ -->
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="${database.jcdb_url}"/>
                <property name="username" value="${database.user}"/>
                <property name="password" value="${database.pass}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="jp.gr.javaconf.org.nsgeorge.guicewebapicommandset.repository.mapper.PersonMapper"/>
    </mappers>
</configuration>
