#!/bin/sh

# -e = エラー発生時中断
# -u = 未定義変数チェック
# -x = 実行コマンドの標準エラー出力
set -eu

#-------------
# 基本設定
#-------------

# プロジェクト名
export PROJECT_NAME=helloapi

# プロジェクトディレクトリ
export PROJECT_DIR="$(cd $(dirname ${BASH_SOURCE:-$0}) && pwd)"

# Virtualbox name
export VM_NAME=default

# HOST側のJavaアプリケーションのディレクトリパス [example: Java_APP_DIR=/c/Users/E0177/Develop/phpscript/simple_console]
export JAVA_APP_DIR=..


#-------------
# Container Name
#-------------

export CONTAINER_APP_JAVA=${PROJECT_NAME}_java
export CONTAINER_POSTGRESQL=${PROJECT_NAME}_postgresql


#-------------
# Repository Urls
#-------------

export REPOSITORY_APP_JAVA=${CONTAINER_APP_JAVA}:0.1
export REPOSITORY_POSTGRESQL=postgres:9.4

#-------------
# ポートフォワードの設定
#-------------

export HOST_PORT_SSH=2222
export HOST_PORT_HTTP_WEB=18080
export HOST_PORT_DB=15432
